**/.env
笔记.txt
node_modules
read.txt
.vscode/
server/src/data/json/*
server/src/data/database.sqlite
server/src/data/backup/*
server/package-lock.json
server/read.txt
logs
*.log
dist
build
Thumbs.db
.DS_Store
.idea
*.swp
*.swo